body {
  font-family: Arial, sans-serif;
  text-decoration: none;
}

#app {
  margin-top: 20px;
  text-align: center;
}

.loader {
  display: none;
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #1c87c9;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.gallery-item {
  width: calc(20% - 20px);
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #808080;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.info {
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.info .stat {
  width: 48%; /* Her kutucuğun genişliğini ayarlayın */
  padding: 5px;
  margin-bottom: 10px;
  
  background-color: #ffffff; /* Arka plan rengini ayarlayın */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.info .stat span {
  text-decoration: none; /* Alt çizgiyi kaldırın */
}

.info .stat .label {
  font-weight: bold;
  margin-bottom: 5px;
}

.info .stat .value {
  font-size: 14px; /* Değerlerin harf boyutunu ayarlayın */
}

.info .values span {
  margin-top: 5px;
  font-size: 13px;
}


